<div class="nr-field-container" ng-class="$ctrl.getFieldStyles()">

    <div class="nr-icon-container"
         ng-click="$ctrl.onLabelClick($event)"
         ng-if="$ctrl.hasIconValue()">
        <nr-icon class="nr-icon" nr-type="{{$ctrl.getIconValue()}}"></nr-icon>
    </div>

    <div class="nr-input-container">

        <label ng-if="$ctrl.useLabel()"
               ng-click="$ctrl.onLabelClick($event)"
               class="nr-label-container">
            <span class="nr-label" translate="{{::$ctrl.getLabel()}}"></span>
        </label>

        <span class="nr-input nr-input-readonly"
              ng-if="$ctrl.isReadOnly()"
        ><span class="nr-input-value">{{ $ctrl.getReadOnlyValue() }}</span></span>

        <textarea
            ng-show="!$ctrl.isReadOnly()"
            rows="5"
            class="nr-input nr-input-writable"
            autocomplete="off"
            placeholder="{{ $ctrl.getPlaceholder()|translate }}"
            ng-model="$ctrl.bindModelValue"
            nr-register-ng-model-controller="$ctrl.setNgModelController(ngModelController)"
            ng-change="$ctrl.onChange()"
            ng-focus="$ctrl.onFocus($event)"
            ng-blur="$ctrl.onBlur($event)"
            ng-readonly="$ctrl.isReadOnly()"
            ng-style="$ctrl.getInputStyles()"
            ng-model-options="{
                allowInvalid: '$inherit',
                updateOn: 'default blur',
                debounce: {
                    default: 250,
                    blur: 0
                }
            }"
        ></textarea>

    </div>

</div>
