$nav-text-color: #333333;
$nav-selected-text-color: #333333;
$nav-selected-background-color: #c6c6c6;
$nav-item-border-size: 2px;
$nav-item-border-style: solid;
$nav-item-border-color: #d6d6d6;

nr-nav {

  display: block;
  min-width: 2em;

  // nr-nav > nav
  & > nav {

    // nr-nav > nav > ul
    & > ul {

      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      // nr-nav > nav > ul > li
      & > li {

        display: flex;
        align-items: center;

        width: auto;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border-bottom: $nav-item-border-size $nav-item-border-style $nav-item-border-color;
        color: $nav-text-color;

        // nr-nav > nav > ul > li > .menu-item-icon
        & > .menu-item-icon {

          display: block;
          padding: 0.5em 0.25em 0.5em 0.5em;

        }

        // nr-nav > nav > ul > li > .menu-item-label
        & > .menu-item-label {

          flex: 1;
          display: block;
          padding: 0.5em 0.5em 0.5em 0.25em;
          font-size: 1em;
          text-align: left;
          text-decoration: none;
          text-transform: none;
          -webkit-transition: all .25s ease;
          -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
          -o-transition: all .25s ease;
          transition: all .25s ease;

        }

        @media only screen and (max-width: 800px) {

          & > .menu-item-label {
            display: none;
          }

        }

      } // nr-nav > nav > ul > li

      // nr-nav > nav > ul > li:hover
      & > li:hover {

        color: $nav-selected-text-color;
        background: $nav-selected-background-color;

      }

      // nr-nav > nav > ul > li.selected
      & > li.selected {

        color: $nav-selected-text-color;
        background: $nav-selected-background-color;

      }

    } // nr-nav > nav > ul

    & > ul.horizontal {

      flex-direction: row;

    }

    & > ul.vertical {

      flex-direction: column;

    }

  } // nr-nav > nav

} // nr-nav
