@import "../nrStyles/windowConfig";

nr-window {

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: $window-border-size solid $window-border-color;
  background: $window-background-color;
  box-shadow: 2px 2px 2px 1px $window-shadow-color;
  cursor: pointer;
  align-items: stretch;

  & > header {

    box-sizing: border-box;
    background-color: $window-header-background-color;
    color: $window-header-text-color;
    flex: 0 1 auto;
    border-bottom: $window-border-size solid $window-border-color;
    padding: 0.5em;
    align-items: stretch;
    text-align: center;

    & > .actions {
      box-sizing: border-box;
      float: right;
    }

  }

  & > section {

    box-sizing: border-box;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    position: relative;
    padding: 0;
    overflow: auto;
    cursor: initial;

    & > * {
      box-sizing: border-box;
      flex: 1 1 auto;
    }

    &::-webkit-scrollbar {
      width: 0.75em;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px $window-scrollbar-shadow-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $window-scrollbar-color;
      outline: $window-scrollbar-outline-size solid $window-scrollbar-outline-color;
    }

  }

  &.is-moving {
    border: $window-border-size solid $window-moving-border-color;
    header {
      border-bottom: $window-border-size solid $window-moving-border-color;
    }
  }

}
