$text-label-color: #707076;
$text-label-size:  1rem;

$text-border-size: 2px;
$text-border-style: solid;
$text-border-color: #f0f0f6;

$text-focused-border-size: 2px;
$text-focused-border-style: solid;
$text-focused-border-color: #e0e6e0;

nr-text-input {

  display: flex;
  flex-direction: column;
  border: $text-border-size $text-border-style $text-border-color;
  border-radius: 4px;
  background-color: #fbfbfd;
  min-width: 20em;
  max-width: 100%;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;

  & > label {

    display: flex;
    padding: 0;
    border-bottom: $text-border-size $text-border-style $text-border-color;
    cursor: pointer;

    & > nr-icon {

      display: block;
      font-size: $text-label-size;
      color: $text-label-color;
      border-right: $text-border-size $text-border-style $text-border-color;
      cursor: pointer;
      padding: 0.5em 1em;

    }

    & > .label {

      flex: 1;
      font-size: $text-label-size;
      color: $text-label-color;
      cursor: pointer;
      padding: 0.5em 1em;
      text-align: left;

    }

  }

  & > input {

    cursor: pointer;
    font-size: 0.8em;
    padding: 0.8em 1em;
    border: 0;

  }

  &.nr-focus {

    border: $text-focused-border-size $text-focused-border-style $text-focused-border-color;

    & > label {

      background-color: #fbfffd;
      border-bottom: $text-focused-border-size $text-focused-border-style $text-focused-border-color;

    }

  }

}
