@import "../nrStyles/messageConfig";

nr-message {

  box-sizing: border-box;
  display: block;

  & > .nr-message-container {

    box-sizing: border-box;
    border: $message-border-size $message-border-style $message-border-color;
    border-radius: 4px;
    background-color: $message-background-color;
    min-width: 20em;
    max-width: 100%;
    padding: 0;

    @media only screen and (max-width: 800px) {
      & {
        min-width: 5em;
      }
    }

    & > .nr-message-header {

      box-sizing: border-box;
      display: flex;

      & > .nr-message-icon {

        box-sizing: border-box;
        display: flex;
        color: $message-header-text-color;
        background-color: $message-header-background-color;
        border-right: $message-border-size $message-border-style $message-border-color;
        text-align: center;
        padding: 0.25em 0.5em;
        font-size: 1.5em;
        vertical-align: middle;

      }

      & > .nr-message-label {

        box-sizing: border-box;
        flex: 1;
        padding: 0.5em 0.75em;

      }

    }

    & > .nr-message-content {

      box-sizing: border-box;
      border-top: $message-border-size $message-border-style $message-border-color;
      padding: 0.5em 0.75em;

    }

    &.nr-info-message {

      box-sizing: border-box;
      border: $info-message-border-size $info-message-border-style $info-message-border-color;
      background-color: $info-message-background-color;

      & > .nr-message-header {

        box-sizing: border-box;

        & > .nr-message-icon {

          box-sizing: border-box;
          color: $info-message-header-text-color;
          background-color: $info-message-header-background-color;
          border-right: $info-message-border-size $info-message-border-style $info-message-border-color;

        }

      }

    }

    &.nr-error-message {

      box-sizing: border-box;
      border: $error-message-border-size $error-message-border-style $error-message-border-color;
      background-color: $error-message-background-color;

      & > .nr-message-header {

        box-sizing: border-box;

        & > .nr-message-icon {

          box-sizing: border-box;
          color: $error-message-header-text-color;
          background-color: $error-message-header-background-color;
          border-right: $error-message-border-size $error-message-border-style $error-message-border-color;

        }

      }
    }

  }

}
