@import "../../nrStyles/fieldConfig";
@import "../../nrStyles/fieldMixins";

nr-checkbox-input {

  @include nr-field-core;

  & > .nr-field-container {

    @include nr-field-container;
    @include colors-for-nr-field-readonly;

    & > .nr-icon-container {
      @include nr-icon-container;
    }

    & > .nr-input-container {

      @include nr-input-container;

      & > .nr-label-container {

        @include nr-label-container;
        flex-direction: row;
        align-items: center;

        & > .nr-checkbox-container {

          @include nr-input;
          width: 34px;

          & > .nr-input {

          }

          & > .nr-input-hidden {

            display: none;

          }

        }

        & > .nr-label {

          @include nr-label;

        }

      } // .nr-label-container

    } // .nr-input-container


    @include nr-field-container-with-focus;

    &.nr-focus > .nr-input-container > .nr-label-container {
      @include nr-label-container-with-focus;
    }


    @include nr-field-container-with-dirty-invalid;

    &.nr-field-invalid.nr-field-dirty {

      & > .nr-input-container > .nr-label-container {

        @include nr-label-container-with-dirty-invalid;

        & > .nr-checkbox-container {

          & > .nr-input {
            @include nr-input-with-dirty-invalid;
          }

        }

      }

    } // &.nr-field-invalid.nr-field-dirty


    &.nr-field-readonly {

      & > .nr-icon-container {
        @include nr-icon-container-with-readonly;
      }

      & > .nr-input-container {

        @include nr-input-container-with-readonly;

        & > .nr-label-container {

          @include nr-label-container-with-readonly;

          & > .nr-checkbox-container {

            & > .nr-input {

              @include nr-input-with-readonly;

            }

          }

          & > .nr-label {

          }

        }

      }

      // Set Colors

      @include colors-for-nr-field-readonly;

      & > .nr-icon-container {
        @include colors-for-nr-icon-container-readonly;
      }

      & > .nr-input-container {

        & > .nr-label-container {

          @include colors-for-nr-label-container-readonly;

          & > .nr-checkbox-container {

            & > .nr-input {
              @include colors-for-nr-input-readonly;
            }

          }

        }

      }

    }

  } // .nr-field-container

} // nr-checkbox-input
