nr-password-input {
  margin: 0.2em;
  padding: 0.2em;

  display: flex;
  flex-direction: column;

  & > label {
    font-size: 1rem;
    text-align: left;
  }

  & > input {
    border-width: 1px;
    border-style: solid;
  }

}
