@import "../../nrStyles/dialogConfig";

nr-confirm-dialog {

  box-sizing: border-box;
  display: block;
  border: $dialog-border-size $dialog-border-style $dialog-border-color;
  border-radius: 4px;
  background-color: #fbfbfd;
  padding: 0;
  min-width: 20em;
  max-width: 100%;

  @media only screen and (max-width: 800px) {
    & {
      min-width: 5em;
    }
  }

  & > .confirm-dialog-header {

    box-sizing: border-box;
    display: flex;
    border-bottom: $dialog-border-size $dialog-border-style $dialog-border-color;
    background-color: $dialog-label-background-color;

    & > .icon {

      box-sizing: border-box;
      display: block;
      color: $dialog-label-color;
      border-right: $dialog-border-size $dialog-border-style $dialog-border-color;
      font-size: 1.5em;
      padding: 0.2em 0 0.2em 0.4em;

    }

    & > .label {

      box-sizing: border-box;
      flex: 1;
      color: $dialog-label-color;
      padding: 0.5em;

    }

  }

  & > section {
    box-sizing: border-box;
  }

  & > footer {

    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 1em;

    & > button {
      box-sizing: border-box;
      margin: 8px;
    }

  }

}
