<header class="confirm-dialog-header">
    <h3 translate="{{$ctrl.model.label}}"></h3>
</header>
<section class="confirm-dialog-body"></section>
<footer class="confirm-dialog-footer">
    <nr-button
            ng-if="$ctrl.hasCancelAction()"
            class="nr-cancel"
            nr-icon="{{'nrConfirmDialog.cancel.icon'|translate}}"
            nr-click="$ctrl.cancel()"
            nr-label="nrConfirmDialog.cancel.label"
    ></nr-button>
    <nr-button
            ng-if="$ctrl.hasAcceptAction()"
            class="nr-accept"
            nr-icon="{{'nrConfirmDialog.accept.icon'|translate}}"
            nr-click="$ctrl.accept()"
            nr-label="nrConfirmDialog.accept.label"
    ></nr-button>
</footer>
