$dialog-label-color: #707076;
$dialog-label-background-color: #f0f0f6;

$dialog-border-size: 2px;
$dialog-border-style: solid;
$dialog-border-color: #f0f0f6;

nr-confirm-dialog {

  display: block;
  border: $dialog-border-size $dialog-border-style $dialog-border-color;
  border-radius: 4px;
  background-color: #fbfbfd;
  padding: 0;
  min-width: 20em;
  max-width: 100%;

  & > .confirm-dialog-header {

    display: flex;
    border-bottom: $dialog-border-size $dialog-border-style $dialog-border-color;
    background-color: $dialog-label-background-color;

    & > .icon {

      display: block;
      color: $dialog-label-color;
      border-right: $dialog-border-size $dialog-border-style $dialog-border-color;
      font-size: 1.5em;
      padding: 0.2em 0 0.2em 0.4em;

    }

    & > .label {

      flex: 1;
      color: $dialog-label-color;
      padding: 0.5em;

    }

  }

  & > section {
  }

  & > footer {

    display: flex;
    justify-content: flex-end;
    padding: 0.5em 1em;

    & > button {
      margin: 8px;
    }

  }

}
