nr-button {
  margin: 0.2em;

  & > button {

    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 6px;
    color: #dddddd;
    background-color: #333333;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 0.7em;
    -webkit-appearance: none;
    -moz-appearance: none;

  }

  & > button:hover,
  & > button:focus,
  & > button:active {

    color: #dddddd;

  }

}

nr-button.nr-accept {

  & > button {

    color: #eeeeee;
    background-color: #339933;

  }

}

nr-button.nr-cancel {

  & > button {

    color: #eeeeee;
    background-color: #999933;

  }

}
