nr-grid {

    display: block;
    min-width: 20em;
    max-width: 100%;

    & > .nr-grid-row {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > .nr-grid-column {

            display: block;
            padding: 0 0.1em;

        }

    }

}
