@import "../nrStyles/gridConfig";

nr-grid {

    box-sizing: border-box;
    display: block;
    min-width: 20em;
    max-width: 100%;

    @media only screen and (max-width: 800px) {
        & {
            min-width: 50px;
        }
    }

    & > .nr-grid-row {

        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        & > .nr-grid-column {

            box-sizing: border-box;
            display: block;
            padding: 0;
            margin: 0;
            min-width: 50px;

            &.nr-cell-odd {
            }

            &.nr-cell-even {
            }

        }

        &.nr-row-odd {
            background-color: $grid-row-odd-background-color;
        }

        &.nr-row-even {
            background-color: $grid-row-even-background-color;
        }

    }

}
