<div
    class="nr-grid-row"
    ng-repeat="row in $ctrl.getRows() track by $ctrl.getRowId($index)"
    ng-init="rowIndex = $index"
    ng-attr-id="{{$ctrl.getRowId(rowIndex)}}"
    ng-style="$ctrl.getRowStyles(rowIndex)"
    ng-class-odd="'nr-row-odd'"
    ng-class-even="'nr-row-even'"
>

    <nr-compile
            class="nr-grid-column"
            ng-style="$ctrl.getColumnStyles($index)"
            ng-repeat="column in row track by $ctrl.getColumnId(column)"
            ng-attr-id="{{$ctrl.getColumnId(column)}}"
            nr-options="$ctrl.getColumnCompileConfig(column)"
            ng-class-odd="'nr-cell-odd'"
            ng-class-even="'nr-cell-even'"
    ></nr-compile>

</div>
