$field-label-color: #707076;
$field-label-size:  1rem;

$field-border-size: 2px;
$field-border-style: solid;
$field-border-color: #f0f0f6;

$field-focused-border-size: 2px;
$field-focused-border-style: solid;
$field-focused-border-color: #e0e6e0;
$field-focused-label-background-color: #fbfffd;

$field-invalid-border-size: 2px;
$field-invalid-border-style: solid;
$field-invalid-border-color: #f0a6a0;
$field-invalid-background-color: #fffbfd;
$field-invalid-label-background-color: #fffbfd;

$field-readonly-border-size: 2px;
$field-readonly-border-style: solid;
$field-readonly-border-color: #e0e6e0;
$field-readonly-background-color: #fafafa;
$field-readonly-label-background-color: #f0f0f0;

nr-password-input {

  display: block;
  min-width: 1em;
  max-width: 100%;

  & > .field-container {

    display: flex;
    flex-direction: column;
    border: $field-border-size $field-border-style $field-border-color;
    border-radius: 4px;
    background-color: #fbfbfd;
    min-width: 1em;
    max-width: 100%;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    cursor: pointer;

    @media only screen and (max-width: 800px) {
      & {
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }

    & > label {

      display: flex;
      padding: 0;
      border-bottom: $field-border-size $field-border-style $field-border-color;
      cursor: pointer;

      & > nr-icon {

        display: block;
        font-size: $field-label-size;
        color: $field-label-color;
        border-right: $field-border-size $field-border-style $field-border-color;
        cursor: pointer;
        padding: 0.5em 1em;

        @media only screen and (max-width: 800px) {
          & {
            padding: 2px 4px;
          }
        }

      }

      & > .label {

        flex: 1;
        font-size: $field-label-size;
        color: $field-label-color;
        cursor: pointer;
        text-align: left;
        padding: 0.5em 1em;

        @media only screen and (max-width: 800px) {
          & {
            padding: 2px 4px;
          }
        }

      }

    }

    & > input {

      cursor: pointer;
      font-size: 0.8em;
      border: 0;
      padding: 0.8em 1em;

      @media only screen and (max-width: 800px) {
        & {
          padding: 0.8em 1em;
        }
      }

    }

    &.nr-focus {

      border: $field-focused-border-size $field-focused-border-style $field-focused-border-color;

      & > label {

        background-color: $field-focused-label-background-color;
        border-bottom: $field-focused-border-size $field-focused-border-style $field-focused-border-color;

      }

    }

    &.nr-field-invalid.nr-field-dirty {

      border: $field-invalid-border-size $field-invalid-border-style $field-invalid-border-color;
      background-color: $field-invalid-background-color;

      & > label {

        background-color: $field-invalid-label-background-color;
        border-bottom: $field-invalid-border-size $field-invalid-border-style $field-invalid-border-color;

      }

      & > input {
        background-color: $field-invalid-background-color;
      }

    }

    &.nr-field-readonly {

      // Disables pointer cursors

      cursor: auto;

      & > label {
        cursor: auto;
        & > nr-icon { cursor: auto; }
        & > .label { cursor: auto; }
      }

      & > input {
        cursor: auto;
      }

      // Set colors

      border: $field-readonly-border-size $field-readonly-border-style $field-readonly-border-color;
      background-color: $field-readonly-background-color;

      & > label {

        background-color: $field-readonly-label-background-color;
        border-bottom: $field-readonly-border-size $field-readonly-border-style $field-readonly-border-color;

      }

      & > input {
        background-color: $field-readonly-background-color;
      }

    }


  }

}
