<div class="nr-field-container" ng-class="$ctrl.getFieldStyles()">

    <div class="nr-icon-container"
         ng-click="$ctrl.onLabelClick($event)"
         ng-if="$ctrl.hasIconValue()">
        <nr-icon class="nr-icon" nr-type="{{$ctrl.getIconValue()}}"></nr-icon>
    </div>

    <div class="nr-input-container">

        <label ng-if="$ctrl.useLabel()"
               ng-click="$ctrl.onLabelClick($event)"
               class="nr-label-container">
            <span class="nr-label" translate="{{::$ctrl.getLabel()}}"></span>
        </label>

        <span class="nr-input nr-input-readonly"
              ng-if="$ctrl.isReadOnly()"
        ><span class="nr-input-value" translate="{{$ctrl.getReadOnlyValue()}}"></span></span>

        <select
            ng-show="!$ctrl.isReadOnly()"
            class="nr-input nr-input-select nr-input-writable"
            ng-model="$ctrl.bindModelValue"
            nr-register-ng-model-controller="$ctrl.setNgModelController(ngModelController)"
            ng-focus="$ctrl.onFocus($event)"
            ng-blur="$ctrl.onBlur($event)"
            ng-readonly="$ctrl.isReadOnly()"
        >
            <option
                    class="nr-select-item-value"
                    ng-repeat="item in $ctrl.getList() track by $ctrl.getItemId(item)"
                    ng-value="$ctrl.getItemValue(item)"
                    ng-selected="$ctrl.isItemSelected(item)"
                    translate="{{$ctrl.getItemLabel(item)}}"
            ></option>
        </select>

    </div>

</div>
