<div class="field-container" ng-class="$ctrl.getFieldStyles()">

    <div class="icon-container" ng-click="$ctrl.onLabelClick($event)" ng-if="$ctrl.hasIconValue()">
        <nr-icon nr-type="{{$ctrl.getIconValue()}}"></nr-icon>
    </div>

    <div class="input-container">

        <label ng-if="$ctrl.useLabel()"
               ng-click="$ctrl.onLabelClick($event)">
            <span class="label" translate="{{::$ctrl.getLabel()}}"></span>
        </label>

        <input
            type="number"
            class="form-input theme-input"
            placeholder="{{ $ctrl.getPlaceholder()|translate }}"
            ng-model="$ctrl.bindModelValue"
            nr-register-ng-model-controller="$ctrl.setNgModelController(ngModelController)"
            ng-change="$ctrl.onChange()"
            ng-focus="$ctrl.onFocus($event)"
            ng-blur="$ctrl.onBlur($event)"
            ng-readonly="$ctrl.isReadOnly()"
            autocomplete="off"
            ng-model-options="{
                    allowInvalid: '$inherit',
                    updateOn: 'default blur',
                    debounce: {
                        default: 250,
                        blur: 0
                    }
                }"
        >

    </div>

</div>
