@import "../../nrStyles/fieldConfig";
@import "../../nrStyles/buttonConfig";
@import "../../nrStyles/buttonMixins";

nr-button {

  box-sizing: border-box;
  display: inline-block;
  margin: 2px;
  min-width: $button-min-width;
  max-width: 100%;

  & > button {

    box-sizing: border-box;
    min-width: $button-min-width;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: $button-border-size $button-border-type $default-button-border-color;
    border-radius: $button-border-radius;
    color: $default-button-text-color;
    background-color: $default-button-background-color;
    text-transform: uppercase;
    font-size: 0.7em;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.7em;

  }

  & > button:hover,
  & > button:focus,
  & > button:active {
    @include nr-button-default;
  }

  & > button.nr-icon {
    @include nr-button-icon-colors;
  }

  & > button.nr-default {
    @include nr-button-default;
  }

  & > button.nr-accept {
    @include nr-button-accept;
  }

  & > button.nr-submit {
    @include nr-button-submit;
  }

  & > button.nr-cancel {
    @include nr-button-cancel;
  }

  & > button.nr-disabled {
    @include nr-button-disabled;
  }

  & > button.nr-icon {
    @include nr-button-icon;
  }

}

nr-button.nr-default {
  & > button {
    @include nr-button-default;
  }
}

nr-button.nr-icon {
  & > button {
    @include nr-button-icon-colors;
  }
}

nr-button.nr-accept {
  & > button {
    @include nr-button-accept;
  }
}

nr-button.nr-submit {
  & > button {
    @include nr-button-submit;
  }
}

nr-button.nr-cancel {
  & > button {
    @include nr-button-cancel;
  }
}

nr-button.nr-disabled {
  & > button {
    @include nr-button-disabled;
  }
}

nr-button.nr-icon {
  & > button {
    @include nr-button-icon;
  }
}

@media only screen and (max-width: 600px) {

  nr-button {

    margin: 16px 0;

    & > button {

      @include nr-button-icon;

      padding:  12px 0.7em;
      min-width: 2em;

      & > .label {
        display: none;
      }

    }

  }

  nr-button {

    & > button:hover,
    & > button:focus,
    & > button:active {
      @include nr-button-icon;
    }

    & > button.nr-default {
      @include nr-button-icon;
    }

    & > button.nr-accept {
      @include nr-button-icon;
    }

    & > button.nr-submit {
      @include nr-button-icon;
    }

    & > button.nr-cancel {
      @include nr-button-icon;
    }

    & > button.nr-disabled {
      @include nr-button-icon;
    }

    & > button.nr-icon {
      @include nr-button-icon;
    }

  }

  nr-button.nr-accept {
    & > button {
      @include nr-button-icon;
    }
  }

  nr-button.nr-submit {
    & > button {
      @include nr-button-icon;
    }
  }

  nr-button.nr-cancel {
    & > button {
      @include nr-button-icon;
    }
  }

  nr-button.nr-default {
    & > button {
      @include nr-button-icon;
    }
  }

  nr-button.nr-disabled {
    & > button {
      @include nr-button-icon;
    }
  }

}

