$button-min-width: 10em;
$button-border-size: 2px;
$button-border-type: solid;
$button-border-radius: 4px;

$default-button-border-color     : #e0e0e0;
$default-button-text-color       : #333333;
$default-button-background-color : #f0f0f6;

$icon-button-border-color     : #e0e0e0;
$icon-button-text-color       : #333333;
$icon-button-background-color : #f0f0f6;

$accept-button-border-color     : #c0ffc0;
$accept-button-text-color       : #338844;
$accept-button-background-color : #e0ffe6;

$cancel-button-border-color     : #eeeec0;
$cancel-button-text-color       : #888833;
$cancel-button-background-color : #f9f9f0;

$disabled-button-border-color     : #e0e0e0;
$disabled-button-text-color       : #333333;
$disabled-button-background-color : #f0f0f6;

nr-button {

  display: block;
  margin: 0.2em;

  & > button {

    min-width: $button-min-width;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: $button-border-size $button-border-type $default-button-border-color;
    border-radius: $button-border-radius;
    color: $default-button-text-color;
    background-color: $default-button-background-color;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 0.7em;
    -webkit-appearance: none;
    -moz-appearance: none;

  }

  & > button:hover,
  & > button:focus,
  & > button:active {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $default-button-border-color;
    color: $default-button-text-color;
    background-color: $default-button-background-color;

  }



  & > button.nr-default {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $default-button-border-color;
    color: $default-button-text-color;
    background-color: $default-button-background-color;

  }

  & > button.nr-icon {

    min-width: 1em;
    border: $button-border-size $button-border-type $icon-button-border-color;
    color: $icon-button-text-color;
    background-color: $icon-button-background-color;

  }

  & > button.nr-accept {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $accept-button-border-color;
    color: $accept-button-text-color;
    background-color: $accept-button-background-color;

  }

  & > button.nr-submit {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $accept-button-border-color;
    color: $accept-button-text-color;
    background-color: $accept-button-background-color;

  }

  & > button.nr-cancel {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $cancel-button-border-color;
    color: $cancel-button-text-color;
    background-color: $cancel-button-background-color;

  }

  & > button.nr-disabled {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $disabled-button-border-color;
    color: $disabled-button-text-color;
    background-color: $disabled-button-background-color;

  }


}

nr-button.nr-default {

  & > button {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $default-button-border-color;
    color: $default-button-text-color;
    background-color: $default-button-background-color;

  }

}

nr-button.nr-icon {

  & > button {

    min-width: 1em;
    border: $button-border-size $button-border-type $icon-button-border-color;
    color: $icon-button-text-color;
    background-color: $icon-button-background-color;

  }

}

nr-button.nr-accept {

  & > button {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $accept-button-border-color;
    color: $accept-button-text-color;
    background-color: $accept-button-background-color;

  }

}

nr-button.nr-submit {

  & > button {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $accept-button-border-color;
    color: $accept-button-text-color;
    background-color: $accept-button-background-color;

  }

}

nr-button.nr-cancel {

  & > button {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $cancel-button-border-color;
    color: $cancel-button-text-color;
    background-color: $cancel-button-background-color;

  }

}

nr-button.nr-disabled {

  & > button {

    min-width: $button-min-width;
    border: $button-border-size $button-border-type $disabled-button-border-color;
    color: $disabled-button-text-color;
    background-color: $disabled-button-background-color;

  }

}
