$button-min-width: 10em;
$icon-button-min-width: 1em;
$button-border-size: 2px;
$button-border-type: solid;
$button-border-radius: 4px;

$default-button-border-color     : #e0e0e0;
$default-button-text-color       : #333333;
$default-button-background-color : #f0f0f6;

$icon-button-border-color     : #e0e0e0;
$icon-button-text-color       : #333333;
$icon-button-background-color : #f0f0f6;

$accept-button-border-color     : #c0ffc0;
$accept-button-text-color       : #338844;
$accept-button-background-color : #e0ffe6;

$cancel-button-border-color     : #eeeec0;
$cancel-button-text-color       : #888833;
$cancel-button-background-color : #f9f9f0;

$disabled-button-border-color     : #e0e0e0;
$disabled-button-text-color       : #333333;
$disabled-button-background-color : #f0f0f6;
