@import "_fieldConfig";

@mixin nr-field-core {

    box-sizing: border-box;
    display: inline-block;
    min-width: $field-min-width;
    max-width: 100%;
    width: 100%;
    padding: 0 1px 0 0;
    margin: 2px;

}

@mixin nr-field-container {

    display: flex;
    flex-direction: row;
    justify-items: stretch;
    align-items: stretch;

    box-sizing: border-box;
    border: $field-border-size $field-border-style $field-border-color;
    border-radius: 4px;
    background-color: $field-background-color;
    min-width: $field-min-width;
    max-width: 100%;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;

    @media only screen and (max-width: 800px) {
        & {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }

}

@mixin nr-icon-container {

    box-sizing: border-box;
    border-right: $field-border-size $field-border-style $field-border-color;

    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;

    min-width: $field-icon-min-width;

    & > .nr-icon {

        box-sizing: border-box;
        display: block;
        font-size: $field-label-size * 1.5;
        color: $field-label-color;
        cursor: pointer;
        padding: 8px;

        @media only screen and (max-width: 800px) {
            & {
                padding: 2px 4px;
            }
        }

    }

}

@mixin nr-input-container {

    flex: 1;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    min-width: $field-min-width - $field-icon-min-width;
    max-width: 100%;
    padding: 0;
    cursor: pointer;

}

@mixin nr-label-container {

    box-sizing: border-box;
    display: flex;
    padding: 0;
    border-bottom: $field-border-size $field-border-style $field-border-color;
    cursor: pointer;

}

@mixin nr-label {

    //flex: 1;
    font-size: $field-label-size;
    color: $field-label-color;
    cursor: pointer;
    text-align: left;
    padding: 4px 8px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

    @media only screen and (max-width: 800px) {
        & {
            padding: 2px 4px;
        }
    }

}

@mixin nr-input {

    box-sizing: border-box;
    font-size: 0.8em;
    border: 0;
    padding: 16px;

    &.nr-input-writable {
        cursor: pointer;
    }

    &.nr-input-readonly {

        display: flex;
        padding: 16px;

        & > .nr-input-value {

            box-sizing: border-box;
            //white-space: nowrap;

        }

    }

    @media only screen and (max-width: 800px) {

        padding: 16px;

    }

}

@mixin nr-field-container-with-focus {
    &.nr-focus {
        border: $field-focused-border-size $field-focused-border-style $field-focused-border-color;
    }
}

@mixin nr-label-container-with-focus {
    background-color: $field-focused-label-background-color;
    border-bottom: $field-focused-border-size $field-focused-border-style $field-focused-border-color;
}

@mixin nr-field-container-with-dirty-invalid {
    &.nr-field-invalid.nr-field-dirty {
        border: $field-invalid-border-size $field-invalid-border-style $field-invalid-border-color;
        background-color: $field-invalid-background-color;
    }
}

@mixin nr-label-container-with-dirty-invalid {
    background-color: $field-invalid-label-background-color;
    border-bottom: $field-invalid-border-size $field-invalid-border-style $field-invalid-border-color;
}

@mixin nr-input-with-dirty-invalid {
    background-color: $field-invalid-background-color;
}

@mixin nr-field-container-with-readonly {

    &.nr-field-readonly {

        // Disables pointer cursors
        cursor: auto;

    }

}

@mixin colors-for-nr-field-readonly {

    border: $field-readonly-border-size $field-readonly-border-style $field-readonly-border-color;
    background-color: $field-readonly-background-color;

}


@mixin nr-icon-container-with-readonly {

    cursor: auto;

    & > .nr-icon {
        cursor: auto;
    }

}

@mixin nr-input-container-with-readonly {

    cursor: auto;

}

@mixin nr-label-container-with-readonly {

    cursor: auto;

    & > .nr-label { cursor: auto; }

}

@mixin nr-input-with-readonly {
    cursor: auto;
}

@mixin colors-for-nr-icon-container-readonly {
    background-color: $field-readonly-label-background-color;
}

@mixin colors-for-nr-label-container-readonly {
    background-color: $field-readonly-label-background-color;
    border-bottom: $field-readonly-border-size $field-readonly-border-style $field-readonly-border-color;
}

@mixin colors-for-nr-input-readonly {
    background-color: $field-readonly-background-color;
}

@mixin nr-field {

    @include nr-field-core;

    & > .nr-field-container {

        @include nr-field-container;

        & > .nr-icon-container {
            @include nr-icon-container;
        }

        & > .nr-input-container {

            @include nr-input-container;

            & > .nr-label-container {

                @include nr-label-container;

                & > .nr-label {
                    @include nr-label;
                }

            }

            & > .nr-input {
                @include nr-input;
            }

        }

        @include nr-field-container-with-focus;

        &.nr-focus > .nr-input-container > .nr-label-container {
            @include nr-label-container-with-focus;
        }

        @include nr-field-container-with-dirty-invalid;

        &.nr-field-invalid.nr-field-dirty {

            & > .nr-input-container > .nr-label-container {
                @include nr-label-container-with-dirty-invalid;
            }

            & > .nr-input-container > .nr-input {
                @include nr-input-with-dirty-invalid;
            }

        }

        @include nr-field-container-with-readonly;

        &.nr-field-readonly {

            & > .nr-icon-container {
                @include nr-icon-container-with-readonly;
            }

            & > .nr-input-container {
                @include nr-input-container-with-readonly;
            }

            & > .nr-input-container > .nr-label-container {
                @include nr-label-container-with-readonly;
            }

            & > .nr-input-container > .nr-input {
                @include nr-input-with-readonly;
            }

            // Set colors

            @include colors-for-nr-field-readonly;

            & > .nr-icon-container {
                @include colors-for-nr-icon-container-readonly;
            }

            & > .nr-input-container > {

                & > .nr-label-container {
                    @include colors-for-nr-label-container-readonly;
                }

                & > .nr-input {
                    @include colors-for-nr-input-readonly;
                }

            }


        }

    }

}
