$message-border-size: 2px;
$message-border-style: solid;
$message-border-color: #f0f0f6;
$message-background-color: #fbfbfd;
$message-header-text-color: #707076;
$message-header-background-color: #f0f0f6;

$info-message-border-size: 2px;
$info-message-border-style: solid;
$info-message-border-color: #f0f0f6;
$info-message-background-color: #fbfbfd;
$info-message-header-text-color: #707076;
$info-message-header-background-color: #f0f0f6;

$error-message-border-size: 2px;
$error-message-border-style: solid;
$error-message-border-color: #f6f0f0;
$error-message-background-color: #fdfbfb;
$error-message-header-text-color: #767070;
$error-message-header-background-color: #f6f0f0;
