$window-background-color: #ffffff;
$window-border-color: #000000;
$window-border-size: 3px;
$window-shadow-color: rgba(0, 0, 0, 0.2);

$window-header-background-color: #2871b6;
$window-header-text-color: #ffffff;

$window-moving-border-color: #009909;

$window-scrollbar-color: darkgrey;
$window-scrollbar-outline-size: 1px;
$window-scrollbar-outline-color: slategrey;
$window-scrollbar-shadow-color: rgba(0,0,0,0.3);
