<header class="confirm-dialog-header">
    <h3 translate="{{$ctrl.model.label}}"></h3>
</header>
<section class="confirm-dialog-body"></section>
<footer class="confirm-dialog-footer">
    <button ng-click="$ctrl.cancel()"
            class="btn-confirm-dialog-cancel"
            translate="nrConfirmDialog.cancelButton.label"
    ></button>
    <button ng-click="$ctrl.ok()"
            class="btn-confirm-dialog-confirm"
            translate="nrConfirmDialog.okButton.label"
    ></button>
</footer>
