$form-label-color: #707076;
$form-label-background-color: #f0f0f6;

$form-border-size: 2px;
$form-border-style: solid;
$form-border-color: #f0f0f6;

nr-form {

  display: block;
  border: $form-border-size $form-border-style $form-border-color;
  border-radius: 4px;
  background-color: #fbfbfd;
  padding: 0;
  min-width: 20em;
  max-width: 80em;

  & > form {

    & > .form-header {

      display: flex;
      border-bottom: $form-border-size $form-border-style $form-border-color;
      background-color: $form-label-background-color;

      & > .icon {

        display: block;
        color: $form-label-color;
        border-right: $form-border-size $form-border-style $form-border-color;
        font-size: 1.5em;
        padding: 0.2em 0 0.2em 0.4em;

      }

      & > .label {

        flex: 1;
        color: $form-label-color;
        padding: 0.5em;

      }

    }

    & > .form-body {

      padding: 0.5em 1em;
      background-color: #ffffff;

    }

    & > .form-footer {

      padding: 0.5em 1em;
      display: flex;
      justify-content: flex-end;
      border-top: $form-border-size $form-border-style $form-border-color;

      & > button {
        margin: 8px;
      }

    }

  }

}
