<form name="$ctrl.bindNgFormController">
    <header class="form-header">

        <nr-icon class="icon"
                 ng-if="$ctrl.hasIconValue()"
                 nr-type="{{$ctrl.getIconValue()}}"
        ></nr-icon>

        <h3 class="label"
            translate="{{$ctrl.getLabel()}}"></h3>

    </header>
    <section class="form-body">
        <nr-compile
            ng-repeat="item in $ctrl.getItems() track by $ctrl.getItemId(item)"
            nr-options="$ctrl.getItemCompileConfig(item)"
        ></nr-compile>
    </section>
    <footer class="form-footer">
        <nr-button
                ng-if="$ctrl.hasCancelAction()"
                class="nr-cancel"
                nr-icon="{{$ctrl.getCancelIcon()}}"
                nr-click="$ctrl.cancel()"
                nr-label="{{$ctrl.getCancelLabel()}}"
        ></nr-button>
        <nr-button
                nr-style="submit"
                nr-enabled="$ctrl.isSubmitEnabled()"
                class="nr-submit"
                nr-icon="{{$ctrl.getSubmitIcon()}}"
                nr-click="$ctrl.submit()"
                nr-label="{{$ctrl.getSubmitLabel()}}"
        ></nr-button>
    </footer>
</form>
