@import "../nrStyles/formConfig";

nr-form {

  box-sizing: border-box;
  display: block;
  border: $form-border-size $form-border-style $form-border-color;
  border-radius: 4px;
  background-color: #fbfbfd;
  padding: 0;
  min-width: 20em;
  max-width: 100%;

  @media only screen and (max-width: 800px) {
    & {
      min-width: 1em;
    }
  }

  & > form {

    box-sizing: border-box;

    & > .form-header {

      box-sizing: border-box;
      display: flex;
      border-bottom: $form-border-size $form-border-style $form-border-color;
      background-color: $form-label-background-color;

      & > .icon {

        box-sizing: border-box;
        display: block;
        color: $form-label-color;
        border-right: $form-border-size $form-border-style $form-border-color;
        font-size: 1.5em;
        padding: 0.2em 0 0.2em 0.4em;

        @media only screen and (max-width: 800px) {
          & {
            padding: 0.2em 0 0.2em 0.4em;
          }
        }

      }

      & > .label {

        box-sizing: border-box;
        flex: 1;
        color: $form-label-color;
        padding: 0.5em;

        @media only screen and (max-width: 800px) {
          & {
            padding: 0.5em;
          }
        }

      }

    }

    & > .form-body {

      box-sizing: border-box;
      background-color: #ffffff;
      padding: 0.5em 1em;

      @media only screen and (max-width: 800px) {
        & {
          padding: 2px 4px;
        }
      }

    }

    & > .form-footer {

      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      border-top: $form-border-size $form-border-style $form-border-color;
      padding: 0.5em 1em;

      & > button {
        box-sizing: border-box;
        margin: 8px;
      }

      @media only screen and (max-width: 800px) {
        & {
          padding: 2px 4px;
        }
      }

    }

  }

}
